#Python cache and temporary files
__pycache__/
*.py[cod]
*$py.class

#Jupyter Notebook checkpoints
.ipynb_checkpoints/

#System files
.DS_Store
Thumbs.db

#Virtual environment
env/
venv/

#Logs
*.log

#Compiled files
*.so

#ONNX model files (if applicable, remove if you want them in the repo)
*.onnx

#Other temporary files
*.tmp
*.temp
